@import './index.scss';

#liked-btn {
     color: $primColor;
     border: none;
     background: none;
     font-size: 30px;
}
#notLiked-btn {
     color: $terColor;
     border: none;
     background: none;
     font-size: 20px;
}
