@import './index.scss';

.log-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px ;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 90%;
    margin: auto;
    position: relative;
    padding: 10px;

    .log-choice {
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: row; 
        justify-content: space-between;
        align-items: center
    }
    .log-modules{
        width: 90%;
        padding: 10px;
    }
}

.active-btn{
        font-size: 20px;
        font-weight: bold;
        border: 1px solid $secColor;
        background-color: $secColor;
        color: $terColor;
        border-radius: 10px;
        padding: 5px;

}