@import './index.scss';

.form-container {
     padding: 5px;
     display: flex;
     flex-direction: column;
     justify-content: center;

     input {
          border: solid 1px $terColor;
          border-radius: 12px;
          margin-bottom: 5px;
     }
     input[type='file']::file-selector-button {
          border: 1px solid $terColor;
          background-color: $terColor;
          color: white;
          border-radius: 10px;
          padding: 5px;
          cursor: pointer;
          &:hover {
               padding: 8px;
               background-color: $terColor;
               color: white;
          }
     }
     label {
          margin-bottom: 10px;
          color: $terColor;
          font-size: 14px;
          font-weight: normal;
     }
}
